#root {
  margin: 0;
  padding: 0;
  width: 100dvw;
  height: 100dvh;
  text-align: center;
}

.emoji-container {
  /* background-color: forestgreen;
  opacity: 0.5; */
  position: absolute;
  inset: 0;
  overflow: hidden;
}
